<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5">
<display-name>Books Management System</display-name>
<welcome-file-list>
<welcome-file>HomePage.jsp</welcome-file>
</welcome-file-list>

<filter>
<filter-name>encodingFilter</filter-name>
<filter-class>common.EncodingFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>encodingFilter</filter-name>
<url-pattern>/*</url-pattern>
</filter-mapping>

<servlet>
<servlet-name>AdminLoginServlet</servlet-name>
<servlet-class>register.control.AdminLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminLoginServlet</servlet-name>
<url-pattern>/AdminLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>WorkerLoginServlet</servlet-name>
<servlet-class>register.control.WorkerLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>WorkerLoginServlet</servlet-name>
<url-pattern>/WorkerLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ReaderLoginServlet</servlet-name>
<servlet-class>register.control.ReaderLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReaderLoginServlet</servlet-name>
<url-pattern>/ReaderLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddBookServlet</servlet-name>
<servlet-class>register.control.AddBookServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddBookServlet</servlet-name>
<url-pattern>/AddBook</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddWorkerServlet</servlet-name>
<servlet-class>register.control.AddWorkerServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddWorkerServlet</servlet-name>
<url-pattern>/AddWorker</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddReaderServlet</servlet-name>
<servlet-class>register.control.AddReaderServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddReaderServlet</servlet-name>
<url-pattern>/AddReader</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>BorrowBookServlet</servlet-name>
<servlet-class>register.control.BorrowBookServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BorrowBookServlet</servlet-name>
<url-pattern>/BorrowBook</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RepayBookServlet</servlet-name>
<servlet-class>register.control.RepayBookServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RepayBookServlet</servlet-name>
<url-pattern>/RepayBook</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ChangePassword1Servlet</servlet-name>
<servlet-class>register.control.ChangePassword1Servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ChangePassword1Servlet</servlet-name>
<url-pattern>/ChangePassword1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ChangePassword2Servlet</servlet-name>
<servlet-class>register.control.ChangePassword2Servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ChangePassword2Servlet</servlet-name>
<url-pattern>/ChangePassword2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddMessageServlet</servlet-name>
<servlet-class>register.control.AddMessageServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddMessageServlet</servlet-name>
<url-pattern>/AddMessage</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddNoticeServlet</servlet-name>
<servlet-class>register.control.AddNoticeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddNoticeServlet</servlet-name>
<url-pattern>/AddNotice</url-pattern>
</servlet-mapping>

</web-app>